
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
#addBtn {
    position:fixed;
    right: 10px;
    top:10px;
    background-color: rgb(109, 160, 109);
    color:white;
    border:none;
    outline:none;
    padding:10px;
    font-size:15px;
    border-radius: 5px;
}
.main {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(146, 209, 146);
    display:flex;
    flex-wrap:wrap;
    padding-bottom: 30px;
}
.note {
    width: 400px;
    height: 400px;
    background-color: rgb(163, 201, 235);
    margin: 20px;
    margin-top:50px;
   
}
.tool{
    background-color: black;
    width:100%;
    color:white;
    padding:5px ;
    display:flex;
    justify-content: end;


}
 .tool i {
    padding:5px;
    cursor:pointer;
    padding-right: 30px;
    font-size:20px
    
    
}
.note textarea{
    width:100%;
    height:100%;
    resize:none;
    border:none;
    font-size: 25px;
    
}
.note textarea:focus{
    border:0;
    outline:0;
}